@import  "../../App.scss";

.auth-div{
    width: 40%;
    margin: 5% auto;
    background-color: #f7f7f7;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    h1{
        font-size: 3em;
        font-weight: 400;
    }
}